/*404 ANIMATION*/
.doggo{
  animation: shake 3.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count:infinite;
  z-index: 10;
  display:inline-block;
  position:absolute;
  top:50px;
  left:150px;
  width:150px;
  filter:  url(#duotone);
  animation-delay: 0.05s;
}
.doggoshadow{
  animation: shake 3.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count:infinite;
  z-index: 10;
  display:inline-block;
  position:absolute;
  top:50px;
  left:150px;
  width:150px;
  animation-delay: 0.04s;
  filter:  url(#monochrome);
  
  
  
}

.doggomain{
  animation: shake 3.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count:infinite;
  z-index: 10;
  display:inline-block;
  position:absolute;
  top:50px;
  left:150px;
  width:150px;
  
  
  
}
.stripe{
    background-image: url(../background/menu.png)!important;
    background-position: center!important;
    background-size: cover!important;
}
.titletop{
    left: 50%;
    right: 50%;
    transform: translate(0%, -10px);
    display: block;

}
.bgimage{
    width:720px;
    z-index: 1;
    /*animation: middle 11s cubic-bezier(.36,.07,.19,.97) both;
    animation-delay: 31s; */   
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-100px, -55px, 0);
  }
  
  20%, 80% {
    transform: translate3d(400px, -80px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(300px, 100px, 0);
  }

  40%, 60% {
    transform: translate3d(-120px, -50px, 0);
  }
}

@keyframes middle {
  10%, 90% {
    transform: translate3d(-10px, -5px, 0);
  }
  
  20%, 80% {
    transform: translate3d(40px, -8px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(30px, 10px, 0);
  }

  40%, 60% {
    transform: translate3d(-12px, -5px, 0);
  }
}


.refImage{
    margin: 1%!important; 
    float: left!important;
    width: 31%!important;
    border-radius: 20px;

}
.refImage:hover{
    box-shadow: 0px 0px 30px #0a5aeb;
    cursor: pointer;
    transition: all .3s ease;

}
.bgRef{
    background-color: #0a5aeb;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px}

.Arc{
    margin: 0 auto;
    display:block;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*GENERAL STYLE*/
/*
Arcaxon Colors: 
Gray BG Main: #282928
Gray BG Secondary: #323034
Orange: #e0a400
Blue: #0a5aeb
Regular White
*/
html{
    background-color: #282928!important;
    color: #e0a400!important;
    height: auto!important;
    width: auto!important;
}
a {
    color: #e0a400!important;
    text-decoration: none;
    
}
.infobox{
    width: 65%;
    height: auto;
    padding: 20px;
    background-color: rgba(50,48,52, 0.70)!important;
    border: #323034 solid!important;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    margin-top:50px;
    margin-bottom:0px;
    text-shadow: 2px 2px 4px black!important;
}
h1{
    text-align: center;
    font-family: Acme;
    font-size: 4em;
    padding: 10px;
    text-shadow: 1px 0px black;
    color: #e0a400!important;
}
h2{
    font-family: Acme;
    font-size: 2.5em;
    padding: 10px;
    color: #e0a400!important;
}
p{
    font-family: Oxygen;
    font-size: 1.5em;
    padding: 10px;
}
footer{
    padding-top: 10px;
    text-align: center;
    background-color: rgba(40, 41, 40, 0.63)!important;
    padding-bottom: 20px!important;
    width: 70%;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 25px!important;
    text-shadow: 2px 2px 4px black!important;
}
small{
    font-family: Monda;
    font-size: 1em;
    display: block;
    padding-top: 5px;
}
.button{
    display: inline-block;
    width: 25%;
    height: 20px;
    background-color: #282928!important;
    padding: 20px;
    font-size: 1.5em;
    font-family: Acme;
    text-align: center;
    margin: auto;
    
}
.button:hover{
    background-color: #0a5aeb!important;
    cursor: pointer;
    transition: all .3s ease;
}
.button a{
    margin: auto;
}
/*Disclaimer*/
.disclaimer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    background-color: #0a5aeb!important;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
}

/*HAMBURGER MENU*/
    #tiroir-toggle-label:before { /* Création des traits de l'icone */
    content: "";
    z-index: 11;
    display: block;
    position: absolute;
    left: 13px;
    top: 18px;
    height: 8px; /* Hauteur du trait */
    width: 48px; /* Largeur du trait */
    background: #e0a400; /* Trait 1 */
    box-shadow: 0 14px 0 #e0a400, 0 28px 0 #e0a400; /* Trait 2 et 3 */
    transition: all .3s ease;
}
#tiroir-toggle-label {
    z-index: 11;
    display: block;
    position: fixed;
    top: 0px;
    left: 0;
    height: 70px; /* Taille de l'icone */
    width: 75px;
    z-index: 10;
    background: rgba(192,192,192,0.0001);
    cursor: pointer; /* Force le pointeur à changer d'aspect au survol */
    transition: all .3s ease;
}
#tiroir-toggle { 
    display: none; /* Dissimule la case à cocher */
}
#tiroir {
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-image: url(../background/menu.png);
    background-position: center;
    background-size: cover;
    left: -250px; /* Dissimule le menu */
    transition: all .3s ease;
}
#rndBg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#tiroir ul {
    width: 100%;
    margin-top: 5%;
}
#tiroir li{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    line-height: 50px;
    background-color: #323034;
    font-family: Acme;
    font-size: 2em;
}

#tiroir li:last-child{

}
#tiroir li:hover {
    background-color: #0a5aeb;
    cursor: pointer;
}
#tiroir li {
    margin-top: 5%;
    
}
#tiroir-toggle:checked ~ #tiroir-toggle-label{ 
    left: 250px;
}
#tiroir-toggle:checked ~ #tiroir-toggle-label:before{
    content: "x";
    font-family: Acme;
    font-size: 4em;
    background: rgba(192,192,192,0.0001);
    box-shadow: none;
    top:-5px;
}

#tiroir-toggle:checked ~ #tiroir{
    left: 0px;
    transition: all .3s ease;
}
/*BACKGROUNDS*/
.bg1{
    background-image: url(../background/bg1.png)
}
.bg2{
    background-image: url(../background/bg2.png)
}

.bg3{
    background-image: url(../background/bg3.png)
}
.bg4{
    background-image: url(../background/bg4.png)
}
.bg5{
    background-image: url(../background/bg5.png)
}
.bg6{
    background-image: url(../background/bg6.png)
}
.bg7{
    background-image: url(../background/bg7.png)
}
.bg8{
    background-image: url(../background/bg8.png)
}
.bg9{
    background-image: url(../background/bg9.png)
}
.bg10{
    background-image: url(../background/bg10.png)
}
.bg11{
    background-image: url(../background/bg11.png)
}
.bg12{
    background-image: url(../background/bg12.png)
}
.bg13{
    background-image: url(../background/bg13.png)
}
.bg14{
    background-image: url(../background/bg14.png)
}
.bg15{
    background-image: url(../background/bg15.png)
}
.bg16{
    background-image: url(../background/bg16.png)
}

/*Main Page Style*/
.top{
    width: 100%;
    min-height: 768px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    
}

/* BELOW IS NON-MOBILE VERSION OF LINKS*/

#boxSection{
    clear: both;
    position: relative;
    display: block;
    width: 80%;
    padding: 0% 10%;
}
/*
#boxSection h3{
    font-size: 1em;
    font-weight: bold;
    top: 0px;
    display: block;
}
*/
#boxSectionContainer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 30px 0px;
    font-family: Acme;
}
.boxSectionBox{
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #323034!important;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.boxSectionBox:hover{
    box-shadow: 0px 0px 30px #0a5aeb;
    cursor: pointer;
    transition: all .3s ease;

}
.boxSectionIcon{
    height: 150px;
    background-image: url(../socialmedia/tsg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon1{
    height: 150px;
    background-image: url(../socialmedia/da.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon2{
    height: 150px;
    background-image: url(../socialmedia/yt.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon3{
    height: 150px;
    background-image: url(../socialmedia/FA.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon4{
    height: 150px;
    background-image: url(../socialmedia/Tg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon5{
    height: 150px;
    background-image: url(../socialmedia/discord.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon6{
    height: 150px;
    background-image: url(../socialmedia/twitter.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.boxSectionIcon7{
    height: 150px;
    background-image: url(../socialmedia/steam.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.soonprojects{
    width: 100%;
    height: 6719px;
    display: block;
    background-image: url(../background/projectssoon.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.soonrefsheets{
    width: 100%;
    height: 1600px;
    display: block;
    background-image: url(../background/refsheetsoon.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}










/*MOBILE VERSIONS*/
@media only screen and (max-width: 768px) {
    .bg1{
    background-image: url(../backgroundmobile/bg1.png)
}
    .bg2{
    background-image: url(../backgroundmobile/bg2.png)
}
    .bg3{
    background-image: url(../backgroundmobile/bg3.png)
}
    .bg4{
    background-image: url(../backgroundmobile/bg4.png)
}
    .bg5{
    background-image: url(../backgroundmobile/bg5.png)
}
    .bg6{
    background-image: url(../backgroundmobile/bg6.png)
}
    .bg7{
    background-image: url(../backgroundmobile/bg7.png)
}
    .bg8{
    background-image: url(../backgroundmobile/bg8.png)
}
    .bg9{
    background-image: url(../backgroundmobile/bg9.png)
}
    .bg10{
    background-image: url(../backgroundmobile/bg10.png)
}
    .bg11{
    background-image: url(../backgroundmobile/bg11.png)
}
    .bg12{
    background-image: url(../backgroundmobile/bg12.png)
}
    .bg13{
    background-image: url(../backgroundmobile/bg13.png)
}
    .bg14{
    background-image: url(../backgroundmobile/bg14.png)
}
    .bg15{
    background-image: url(../backgroundmobile/bg15.png)
}
    .bg16{
    background-image: url(../backgroundmobile/bg16.png)
}
    .button{
    width: 75%;
    height: 20px;
    padding: 20px;
    font-size: 1.5em;
    margin: 5px 0px;
    }
/*
    .disclaimer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    background-color: #0a5aeb;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
}
*/
    .infobox{
    width: 90%;
    border-radius: 25px;
    margin-top:50px;
    margin-bottom:50px; 
}
    .top{
    min-height: 900px;
    padding-bottom: 20px;
    
}
    h2{
    font-size: 1.5em;
    padding: 5px;
}
    p{
    font-size: 1em;
    padding: 10px;
}
    footer{
    margin-bottom: 50px!important;
    padding-bottom: 0px!important;
    }
    
/* BELOW IS MOBILE VERSION OF LINKS*/
    #boxSection{
    width: 90%;
    padding: 0% 5%;
}    
#boxSectionContainer{
    padding: 0px 0px 0px 0px;
}
.boxSectionBox{
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.boxSectionIcon{
    height: 80px;
}
.boxSectionIcon1{
    height: 80px;
}
.boxSectionIcon2{
    height: 80px;
}
.boxSectionIcon3{
    height: 80px;
}
.boxSectionIcon4{
    height: 80px;
}
.boxSectionIcon5{
    height: 80px;
}
.boxSectionIcon6{
    height: 80px;
}
.boxSectionIcon7{
    height: 80px;
}
    
}